.minivdbox {
    width: 240px;
    height: 135px;
    margin: 5px;
}

li.remotes {
    float: left;
}

.mainvdbox {
    width: 1280px;
    height: 720px;
    margin: 5px;
}

.selectedVideo {
    background-color: teal;
}

.selectedLang {
    background-color: teal;
}

#msg {
    background-color: lightgray;
    padding: 3px;
}
