/* 汎用 */
.notshow {
    display: none;
}

pre#console {
    background-color: lightgray;
    padding: 3px;
}

pre#msg {
    background-color: lightgray;
    padding: 3px;
}

span.font-red {
    color: red
}

span.font-blue {
    color: blue;
}

span.font-green {
    color: teal;
}


span.bg-yellow {
    background-color: yellow;
}

span.bg-red {
    background-color: tomato;
    color: white;
}

ul.horizon li {
    display: inline;
}

footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    margin-top: auto;
    display: inline-block;
    position: relative;
    bottom: 0px;
    background-color: black;
    padding-top: 0.2rem;
    padding-left: 3rem;
    padding-bottom: 0.2rem;
}

/* ホスト用 */
.vdbox {
    width: 99%;
    height: 99%;
    margin: 5px;
}

/* 通訳 オーディエンス用 1 */
.main-vdbox {
    width: 1280px;
    height: 720px;
    margin: 5px;
}

.hiding {
    visibility: hidden;
}