/* 汎用 */
div.notshow {
    display: none;
}

pre#console {
    background-color: rgb(250, 135, 250);
    padding: 3px;
}

pre#msg {
    background-color: lightgray;
    padding: 3px;
}

ul.horizon li{
    display: inline;
}

footer {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: white;
    display: inline-block;
    position: absolute;
    bottom: 0px;
    background-color: black;
    padding-top: 0.2rem;
    padding-left: 3rem;
    padding-bottom: 0.2rem;
}

/* ホスト用 */
.vdbox {
    width: 99%;
    height: 99%;
    margin: 5px;
}

/* 通訳用 1 */
.mainVdbox {
    width: 1280px;
    height: 720px;
    margin: 5px;
}

/* 通訳用 2 */
.miniVdbox {
    width: 240px;
    height: 135px;
    margin: 5px;
}

/* 通訳用 3 */
.currentVdbox {
    background-color: teal;
}

/* オーディエンス用 */
h3.voice {
    padding: 0.3rem;
}

h3.selected {
    background-color: teal;
    color: white;
    font-weight: bolder;
}

h3.muted {
    text-decoration: line-through;
}

/* li.remotes {
    float: left;
} */


/* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.by1g1 {
    grid-column: 1/7;
}

.by3g1 {
    grid-column: 1/3;
}

.by3g2 {
    grid-column: 3/5;
}

.by3g3 {
    grid-column: 5/7;
}

.by2g1 {
    grid-column: 1/4;
}

.by2g2 {
    grid-column: 4/7;
}

.by1 {
    grid-column: 1/7;
}

.by2bg1 {
    grid-column: 1/6;
}

.by2bg2 {
    grid-column: 6/7;
}

.seg2g1 {
    grid-row: 1/3;
}

.seg2g2 {
    grid-row: 3/5;
}

.seg2bg1 {
    grid-row: 1/4;
}

.seg2bg2 {
    grid-row: 4/5;
}

.seg2cg1 {
    grid-row: 1/2;
}

.seg2cg2 {
    grid-row: 2/5;
}

.seg3g1 {
    grid-row: 1/3;
}

.seg3g2 {
    grid-row: 3/4;
}

.seg3g3 {
    grid-row: 4/5;
} */



/* div.not {
    visibility: hidden;
    display: none;
} */

.muted {
    background-color: tomato;
}